@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.flex::-webkit-scrollbar {
  display: none;
}
